body {
    background-color: #87CEEB;
}
.box {
    position: absolute;
    width: 70%;
    height: 75px;
    background-color: #E6E6FA;
    left: 15%;
    border-radius: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    
}
.about {
    position: absolute;
    width: 10%;
    height: 40px;
    background-color: #cecefb;
    left: 20%;
    border-radius: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    top: 2.5%;
}
.top {
    position: absolute;
    left: 44.5%;
    top: 0.5%;
    
    
}
.password {
    position: absolute;
    width: 20%;
    height: 40px;
    background-color: #fff3f3;
    left: 40%;
    border-radius: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    top: 30%;
}
.pss {
    position: absolute;
    left: 46%;
    top: 22%;
}
.brr {
    position: absolute;
    left: 46%;
    top: 42%;
}
.username {
    position: absolute;
    width: 20%;
    height: 40px;
    background-color: #fff3f3;
    left: 40%;
    border-radius: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    top: 50%;
}
.signin {
    position: absolute;
    color: black;
    left: 22.75%;
    font-size: 25px;
    top: 3%;
    text-decoration: none;
}
.log {
    position: absolute;
    color: black;
    left: 47.5%;
    font-size: 40px;
    top: 69%;
    text-decoration: none;
}
.logbody {
    position: absolute;
    width: 12%;
    height: 50px;
    background-color: #cecefb;
    left: 44.5%;
    border-radius: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    top: 69%;
}
.create {
    position: absolute;
    color: black;
    left: 44.5%;
    font-size: 25px;
    top: 69%;
    text-decoration: none;
    border-radius: 20px;
    background-color: #cecefb;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}
.bluebannar {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 6%;
    left: 0%;
    background-color: #b4dbe1;
}
.toptext {
    position: absolute;
    left:40%;
    top:-2%;
 
}
.images {
    position: absolute;
    width: 116%;
    height: auto;
    left: -16%;
    top: 6%;
}
.overtekst {
    position: absolute;
    left: 25%;
    top: 15%;
    font-size: 50px;
 
}
.subtext {
    position: absolute;
    left: 28%;
    top: 25%;
    font-size: 30px;

}
.totalnumber {
    position: absolute;
    left: 47%;
    top: 35%;
    font-size: 70px;
    
}
.mrbeast {
    position: absolute;
    border-radius: 100%;
    height: 150px;
    top: 40%;
    left: 15%;
}
.sqare {
    background-color: rgb(108, 255, 130);
    position: absolute;
    top: 70%;
    left: 40%;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 10px 10px 100px 10px darkgreen, 10px 10px 100px 10px green;

}
.pay {
    position: absolute;
    top: 89%;
    left: 44%;
    text-decoration: none;
    color: rgb(13, 50, 19);
    font-size: 30px;
}
.donatebox {
    background-color: white;
    position: absolute;
    left: 14%;
    top: 10%;
    width: 70%;
    height: 10%;
    border-radius: 30px;
    box-shadow: 5px 10px 100px 10px black, 10px 10px 10px 10px grey;
}
.bitcoinlink {
    position: absolute;
    left: 25%;
    top: 10%;
}
.othertext {
    position: absolute;
    left: 29%;
    top: 50%;
}